# OS trash files
.DS_Store
thumbs.db

# Node and bower modules and logs
node_modules/
npm-debug.log
bower_components/

# temp and public folders (public will contain the build, like minified files etc)
public/
temp/
